PORT=3000

# MongoDB Atlas Connection URI
MONGODB_URI=mongodb+srv://ridwansalamony:SVJ-w65Czm2t32@cluster-development.i7igkmh.mongodb.net/?retryWrites=true&w=majority&appName=cluster-development

# JWT Secret Key
JWT_SECRET=your_jwt_secret_key_here

# Cloudinary Media Configuration
CLOUDINARY_CLOUD_NAME="dwum5uup4"
CLOUDINARY_API_KEY="739988124757453"
CLOUDINARY_API_SECRET="PBQB925NHeJUHagf9UA8A8Co7bA"
